# Copia este archivo como .env.dev (desarrollo) y .env.prod (producción)
SUPABASE_URL=https://zypkyfexkydhphfkxbyr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5cGt5ZmV4a3lkaHBoZmt4YnlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MTc3OTIsImV4cCI6MjA4ODQ5Mzc5Mn0.X_3L0b9n28jH395B9W9qj5pY-Q-gVzXqX78O8G_Qj54
