# Copia este archivo como .env.dev (desarrollo) y .env.prod (producción)
SUPABASE_URL=https://thzgbupgkiqivcemhhlx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoemdidXBna2lxaXZjZW1oaGx4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5NTc0NzQsImV4cCI6MjA5ODUzMzQ3NH0.E-apczy9_hJPEYHn8qBxZGWT6gDmLEr3eWVOubMXJyY
